<div class="lista">
  <div class="item" *ngFor="let cred of credList | async">
    <section class="header">
      <img [src]="cred.imgUrl" />
    </section>
    <section class="body">
      <p>{{ cred.name }}</p>
      <p>{{ cred.url }}</p>
      <div class="buttons">
        <button (click)="deleteCred(cred.id)">Cancella</button>
        <button
          routerLink="/editPass"
          [queryParams]="{
            id: cred.id,
            name: cred.name,
            url: cred.url,
            imgurl: cred.imgUrl
          }"
        >
          Password
        </button>
      </div>
    </section>
  </div>
</div>
