div#pwd {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 2em;
}

div#cred {
  display: flex;
  justify-content: center;
}

div#pwd div.info {
  border: 1px solid var(--clr-test-header);
  box-shadow: 2px 2px 2px var(--clr-accent);
}

div#pwd div.info h2,
div#pwd div.info h3 {
  text-align: center;
}

div#pwd div.info section.header img {
  width: 50%;
}

div#pwd div.info section.header {
  background-color: var(--clr-btn-secondary);
  display: flex;
  justify-content: center;
}

div#pwd div.edit {
  border: 1px solid var(--clr-text-header);
  box-shadow: 2px 2px 2px var(--clr-accent);
}

div#pwd div.edit form {
  display: flex;
  flex-direction: column;
}

div#pwd div.edit form button {
  background-color: var(--clr-button);
  color: var(--clr-text-header);
  font-size: var(--fs-little-button);
  border: 0;
  padding: 0.1em;
  border-radius: 8px;
  cursor: pointer;
}

div#cred div.credentials {
  margin-top: 2em;
}

div#cred div.credentials table {
  border: 1px solid salmon;
  border-collapse: collapse;
}

div#cred div.credentials table th,
div#cred div.credentials table td {
  border: 1px solid salmon;
  padding: 0.2em;
}

div#cred div.credentials table th {
  background-color: var(--clr-accent);
  color: var(--clr-text-header);
}

div#cred div.credentials table button {
  background-color: var(--clr-button);
  color: var(--clr-text-header);
  font-size: var(--fs-little-button);
  border: 0;
  padding: 0.1em;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 0.1em;
}
