<a routerLink="/">Home</a>
<div id="pwd">
  <div class="info">
    <section class="header">
      <img [src]="pars.imgUrl" />
    </section>
    <section class="body">
      <h2>{{ pars.name }}</h2>
      <h3>{{ pars.url }}</h3>
    </section>
  </div>
  <div class="edit">
    <form #f="ngForm">
      <input ngModel name="mail" type="text" placeholder="Email" />
      <input ngModel name="username" type="text" placeholder="username" />
      <input ngModel name="password" type="text" placeholder="password" />
      <button (click)="OnSavePwd(f)">Add password</button>
    </form>
  </div>
</div>
<div id="cred">
  <div class="credentials">
    <table *ngIf="pwds?.length">
      <thead>
        <th>Email</th>
        <th>UserName</th>
        <th>Password</th>
        <th>Azioni</th>
      </thead>
      <tbody>
        <tr *ngFor="let pwd of pwds; let i = index">
          <td>{{ pwd.mail }}</td>
          <td>
            {{ pwd.username }}
          </td>
          <td>{{ pwd.password }}</td>
          <td class="spazio">
            <button (click)="OnDeletePwd(pwd.id)">delete</button>
            <button (click)="OnDecrypt(pwd.password, i)">Decrypt</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
